*
{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
body
{
    
}
header 
{
    height: 50px;
    display:flex;
    flex-wrap: wrap;
    background: #fff;
    box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.2);
}
.img
{
    width: 30%;
    text-align: center;
    line-height: 50px;
}
.img img
{
    padding-top: 8px;
    height: 40px;
    width: 150px;
}
.menu
{
    width: 70%;
    text-align: center;
    line-height: 50px;
    justify-content: space-evenly;
}
a
{
    text-decoration: none;
    color: #000;
    padding: 0 10px;
}